<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-socketio" version="0.0.1">
    <name>SocketIO</name>
    <description>Cordova SoceketIO Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,SocketIO</keywords>
    <js-module src="www/socketIOPlugin.js" name="socketIOPlugin">
        <clobbers target="cordova.plugins.socketio" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
        <uses-permission android:name="android.permission.INTERNET" />
	    <uses-permission android:name="android.permission.VIBRATE"/>
	    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" /> 
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.vishnu.socketio.SocketIOService" android:stopWithTask="false">
            </service>
            <activity android:name="com.vishnu.socketio.AlertActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection" android:label="@string/app_name" android:launchMode="singleTask" android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:exported="false">
            </activity>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocketIOPlugin">
                <param name="android-package" value="com.vishnu.socketio.SocketIOPlugin"/>
            </feature>
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/SocketIOPlugin.java" target-dir="src/com/vishnu/socketio/" />
        <source-file src="src/android/SocketIOService.java" target-dir="src/com/vishnu/socketio/" />
        <source-file src="src/android/SocketIO.java" target-dir="src/com/vishnu/socketio/" />
        <source-file src="src/android/AlertActivity.java" target-dir="src/com/vishnu/socketio" />
        <source-file src="src/android/layout/activity_alert.xml" target-dir="res/layout"/>
        <source-file src="src/android/layout/custom_alert.xml" target-dir="res/layout"/>
    </platform>

</plugin>
